{% extends "base.html" %}

{% block title %}Search Students{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Search Results</h2>

    <a href="{{ url_for('records') }}"
       class="btn btn-secondary btn-sm">
        ALL STUDENTS
    </a>
</div>

{% if query %}
<div class="alert alert-info d-flex justify-content-center align-items-center">

    <span>
        <strong>"{{ query }}"</strong>
        -
        <strong>{{ students|length }}</strong>
        results found.
    </span>

    <a href="{{ url_for('search') }}"
       class="btn btn-outline-secondary btn-sm ms-3">
        Clear Search
    </a>

</div>
{% endif %}

{% if students|length == 0 %}

<div class="alert alert-warning text-center">

    <h5>No Students Found 😔</h5>

    <p>
        Try another student_name or roll number.
    </p>

</div>

{% endif %}

{% if students|length > 0 %}

<table class="table table-striped table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>roll_number</th>
            <th>student_name</th>
            <th>subject_name</th>
            <th>score</th>
            <th>percentage</th>
            <th>status</th>
        </tr>
    </thead>

    <tbody>

        {% for student in students %}
        <tr>

            <td>{{ student.roll_number }}</td>
            <td>{{ student.student_name }}</td>
            <td>{{ student.subject_name }}</td>
            <td>{{ student.score }}</td>
            <td>{{ student.percentage }}%</td>
            <td>{{ student.status }}</td>

            <td>
                {% if student.percentage >= 40 %}
                    <span class="badge bg-success">
                        Pass
                    </span>
                {% else %}
                    <span class="badge bg-danger">
                        Fail
                    </span>
                {% endif %}
            </td>

        </tr>
        {% endfor %}

    </tbody>

</table>

{% endif %}

{% endblock %}