{% extends 'base.html' %}

{% block title %} Home - College Portal {% endblock %}

{% block content %}
<h1>Welcome to college Portal</h1>
<p>Total students:{{students|length}}</p>
<h2>Quick stats</h2>
<ul>
    {% for student in students %}
    <li>
        {{ student.name}} -
        {{student.marks}} marks -
        {% if student.marks >=90 %}
            Excellent
        {% elif students.marks >=75 %}
            Good
        {% elif students.marks >=60 %}
            Average
        {% else %}
            Needs Improvement
        {% endif %}

    </li>
</ul>
{% endblock %}
